.insta{
   
    color: black;
    position: relative;
    left: 120px;
}
.home{
    position: relative;
    left: 270px;
    letter-spacing: 40px;
    color: black;
}
.profile{
    position: relative;
    left: 440px;
    letter-spacing: 20px;
    color: black;
}
.container{
    margin-top: 30px;
}
.status{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    border: 3px solid red;
    position: relative;
    left: 250px;
    top: 40px;
    margin-left: 20px;


}
.story{
    position: relative;
    top: 80px;
    right: 24%; ;
    
    display: inline-block;
    
}
.post{
    width: 550px;
    margin-top: 20px;
    margin-left: 0px
}
#post{
    
        width: 550px;
        margin-top: 20px;
        margin-left: 0px
    
}
.secondpost{
    width: 550px;
    margin-top: 20px;
    margin-left: 0px

}
.secondbox{
    border: 1px solid black;
    width: 550px;
    height: 500px;
    position: relative;
    bottom: 480px;
    left: 195px;
   
}
#save{
    border: 2px;
    font-size: x-large;
    padding-left: 350px;
    background-color: white;
}
#firstsave{
    border: 2px;
    font-size: x-large;
    padding-left: 350px;
    background-color: white;
}
.firstsave{
    border: 2px;
    font-size: x-large;
    padding-left: 350px;
    background-color: white;
}
#thirdpost{
    font-size: x-large;
    background-color: white;
    border: 0px;
    padding-left: 20px;
    
}




.name{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    position: relative;
    top: 10px;
    left: 30px;
    border: 2px solid black;
}
.box{
    border: 1px solid black;
    width: 550px;
    height: 500px;
    margin-top: 100px;
    margin-left: 200px;
}
.id{
    position: relative;
    top: 10px;
    left: 30px;
}
.heart{
    background-color: white;
    border: 0px;
    width: 40px;
    height: 50px;
    font-size: x-large;
    padding-left: 20px;
    

}
#stylebutton{
    background-color: white;
    border: 0px;
}
#second{background-color: white;
    border: 0px;
    font-size: x-large;
    margin-left: 10px;

}
.save{
    background-color: white;
    border: 0px;
    font-size: x-large;
    padding-left: 370px;
}

.image{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    border: 1px solid red;
    margin-left: 20px;
}
table{
    border: 1px solid black;
    width: 400px;
    position: relative;
    left: 800px;
    bottom: 500px;
}
.suggestion{
    color: grey;
    margin-left: 20px;
}
.anchor{
    text-decoration: none;
    color: black;
    position: relative;
   bottom: 10px;
    
}
#stylebutton{
    border: 0px;
    background-color: white;
    color: grey;
    font-size: x-large;
    margin-left: 20px;
}